* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body header {
  background-color: rgb(49, 55, 148);
  font-family: roboto;
}
body header .navbar {
  display: flex;
  justify-content: space-around;
}
body header .navbar .logo-img {
  width: 10rem;
}
body header .navbar ul {
  list-style-type: none;
  display: flex;
}
body header .navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: roboto;
  margin: 8px;
  align-items: center;
  font-size: 1.5vw;
  font-weight: bold;
}

a:hover {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

/*footer inicio*/
footer {
  background-color: rgb(49, 55, 148);
}
footer .titulo-formulario h2 {
  font-family: roboto;
  font-size: 40px;
  color: white;
  display: flex;
  margin-left: 15.5%;
}
footer .cel-mail-direccion {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-end;
  font-family: roboto;
  font-size: 25px;
  margin-right: 15%;
  margin-bottom: 15%;
  margin-top: 10%;
}
footer .insta {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
  font-family: roboto;
  margin-right: 15%;
}
footer .formulario {
  max-width: 600px;
  margin-left: 15%;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 8px;
  float: inline-start;
}
footer .formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
footer .formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
footer .formulario button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #010492;
  color: white;
}

/*whatsapp*/
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.whatsapp .whatsapp img {
  width: 6vw;
  height: auto;
}

/*footer otros html*/
.info-footer {
  font-family: roboto;
  font-size: 25px;
  color: white;
}

.menu-hamburguesa {
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
.menu-hamburguesa ul {
  padding: 0;
  margin: 0;
  display: none;
  list-style-type: none;
  background-color: #313794;
}
.menu-hamburguesa ul li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.menu-hamburguesa:hover ul {
  display: block;
}

@media (min-width: 850px) {
  .button {
    display: none;
  }
  .navbar {
    display: block;
  }
}
@media (max-width: 850px) {
  .button {
    display: block;
  }
  .navbar ul li a {
    display: none;
  }
}
.contenedor {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/9.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  font-size: 2vw;
}
.contenedor p {
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
}
.contenedor h1 {
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
}

.title {
  color: #000080;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  margin-top: 3vw;
  font-size: 55px;
}

.text {
  font-family: roboto;
  font-size: 30px;
  text-align: center;
  color: #000080;
}

.title2 {
  color: #000080;
  font-weight: bold;
  font-family: roboto;
  font-size: 38px;
  text-align: center;
  margin: 30px;
}

.grilla-nosotros {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.grilla-nosotros .grid-item img {
  overflow-x: hidden;
}
.grilla-nosotros .grid-item1 img {
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 100%;
  max-height: 100%;
}
.grilla-nosotros .grid-item2 img {
  grid-row: 1/2;
  grid-column: 2/3;
  max-width: 100%;
  max-height: 100%;
}
.grilla-nosotros .grid-item3 img {
  grid-row: 1/2;
  grid-column: 3/4;
  max-width: 100%;
  max-height: 100%;
}

.link-trabajos {
  text-decoration: none;
  color: #000080;
  font-family: roboto;
  font-size: 20px;
}

.grilla {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}
.grilla .carrusel {
  overflow: hidden;
}
.grilla .carrusel .carousel-inner img {
  margin-top: 3vw;
  width: 20%;
  height: auto;
}
.grilla .texto-grid-1 {
  text-align: center;
  margin-top: 15vw;
  font-size: 1.7vw;
  color: #000080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formulario2 {
  padding: 50px 55px;
  border-radius: 20px;
  text-align: center;
  width: 340px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.formulario2 input {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  color: #010492;
  padding: 15px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(223, 221, 233);
  border: 1px solid gray;
  outline: none;
}
.formulario2 textarea {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  color: #010492;
  padding: 15px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(223, 221, 233);
  border: 1px solid gray;
  outline: none;
}
.formulario2 label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.formulario2 .btn {
  font-size: 18px;
  color: white;
  background-color: #3b71d3;
  border-radius: 25px;
  border: 0;
  text-align: center;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
