@media (min-width: 850px) {
    .button {
        display: none;
    }
    .navbar {
        display: block;
    }
}

@media (max-width: 850px) {
    .button {
        display: block;
    }
    .navbar {
        ul {
            li {
                a {
                    display: none;
                }
            }
        }
    }
}