.title {
    color: #000080;
    font-family: roboto;
    font-weight: bold;
    text-align: center;
    margin-top: 3vw;
    font-size: 38px;
}
.title2 {
    color: #000080;
    font-weight: bold;
    font-family: roboto;
    font-size: 28px;
    text-align: center;
    margin: 30px;
    /*@include estilos-texto(28px, 'roboto', center);*/
}
.text {
    font-family: roboto;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #000080;
}