*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formulario2 {
    padding: 50px 55px;
    border-radius: 20px;
    text-align: center;
    width: 340px;
    display: flex;
    flex-direction: column;
    text-align: left;
    input {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        color: #010492;
        padding: 15px 25px;
        border-radius: 25px;
        margin-bottom: 20px;
        background-color: rgb(223, 221, 233);
        border: 1px solid gray;
        outline: none;
    }
    textarea {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        color: #010492;
        padding: 15px 25px;
        border-radius: 25px;
        margin-bottom: 20px;
        background-color: rgb(223, 221, 233);
        border: 1px solid gray;
        outline: none;
    }
    label {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .btn {
        font-size: 18px;
        color: white;
        background-color: #3b71d3;
        border-radius: 25px;
        border: 0;
        cursor: pointer;
    }
    

}