.main-productos {
    .grid-productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        div {
            .productos-1 {
                grid-row:1/2;
                grid-column: 1/2;
                margin-left: 15px;
                width: 300px;
                height: auto;
            }          
            .text-1 {
                grid-row: 1/2;
                grid-column: 2/3;
                text-align: center;
            }
        }
        div {
            .productos-2 {
                grid-row: 1/2;
                grid-column: 3/4;
                margin-left: 15px;
                width: 300px;
                height: auto;
            }
            .text-2 {
                grid-row: 1/2;
                grid-column: 4/5;
            }
        }
    }
}