.button {
    .menu-hamburguesa{
        padding:0;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        ul {
            padding: 0;
            margin: 0;
            display: none;
            list-style-type: none;
            background-color: #313794;
            li {
                list-style-type: none;
                padding: 10px;
                text-align: center;
                color: white;
                font-weight: bold;
                font-style: none;
                list-style-type: none;
            }
        }
    }
}
.menu-hamburguesa:hover{
    ul {
        display: block;
    }
}
.link-trabajos {
    text-decoration: none;
    color: #000080;
    font-family: roboto;
    font-size: 20px;
    text-align: right;
}

/*boton formulario "contactanos*/
.contactanos {
    .formulario2 {
        .btn {
            font-size: 18px;
            color: white;
            background-color: #3b71d3;
            border-radius: 25px;
            border: 0;
            cursor: pointer;
        }
    }
}
.contactanos {
    .formulario2 {
        .btn {
            align-items: center;
        }
        .btn:hover {
            background-color: #000080;
            font-size: 22px;
        }
    }
}
